Repository Libera-Chat/libera-chat.github.io, pull requests merged in 2021-08, with the labels that each got.

#119 Reorganise contact links
  _data/nav.yml
  _includes/footer.html
Labels: Area: General, Type: Enhancement

#122 Add a guide for the webchats (#121)
  content/_guides/webchat.md
Labels: Area: Guides, Type: New

#124 Update documentation regarding sasl-only & webchat
  content/_guides/sasl.md
Labels: Area: Guides, Type: Enhancement

#74 Add a guide on cloaks
  content/_guides/cloaks.md
Labels: Area: Guides, Type: New

#61 Complete Irssi CertFP instructions and unify network name
  content/_guides/certfp.md
  content/_guides/sasl/irssi.md
Labels: Area: Guides, Type: Enhancement

#95 Better footer on small screens
  _includes/footer.html
  _includes/inline-style.css
Labels: Area: Jekyll, Type: Enhancement

#138 Convert full path urls to internal links in lint
  .github/workflows/lint.yml
Labels: Area: Jekyll, Type: Enhancement

#142 Add faq for how to find staff
  content/_guides/faq.md
Labels: Area: Guides, Type: Enhancement

#135 Catalyst and helper guides
  content/_guides/catalyst.md
  content/_guides/helpers.md
Labels: Area: Guides, Type: New

#139 Rewrite creatingchannels.md
  content/_guides/creatingchannels.md
Labels: Area: Guides, Type: Enhancement

#151 fix archive link
  _includes/article.html
Labels: Area: Jekyll, Type: Bug

#152 show excerpt on minutes index page
  _config.yml
  content/_minutes/2021-07-27-mgm-minutes.md
  minutes.html
Labels: Area: Jekyll, Type: Enhancement

#153 add /secure recommendation
  content/_guides/sasl/weechat.md
Labels: Area: Guides, Type: Enhancement
