Repository Libera-Chat/libera-chat.github.io, pull requests merged in 2021-09, with the labels that each got.

#159 Cloaks: better explain how to obtain a bot cloak
  content/_guides/cloaks.md
Labels: Area: Guides, Type: Enhancement

#160 Ozone has a new repo
  contributing/development.md
Labels: Type: Enhancement, Area: General

#161 Add guide for basics & getting started
  content/_guides/basics.md
Labels: Area: Guides, Type: New

#162 Add mentions of cs OP
  content/_guides/creatingchannels.md
Labels: Area: Guides, Type: Enhancement
